<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>User Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="firstName" required>
            <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastName" required>
            <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="email" formControlName="email" [errorStateMatcher]="matcher" required>
            <mat-error *ngIf="userForm.controls['email'].hasError('required')">
              email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Roles</mat-label>
            <mat-select formControlName="rol" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let rol of roles" [value]="rol">
                {{rol.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['rol'].hasError('required')">Please choose an rol</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="full-width">
            <input matInput placeholder="password" formControlName="password" required type="password">
            <mat-error *ngIf="userForm.controls['password'].hasError('required')">
              password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
