hr {
    width: 80%;
    margin: 1rem 0;
}

.plan-card {
  min-width: 120px;
  margin: 20px auto;
}

.full-width {
  width: 100%;
}

.mid-width {
  width: 75%;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.col {
  flex: 1;
  margin-right: 20px;
}

  .col:last-child {
    margin-right: 0;
  }

.header-ml-0 {
  margin-left: 0;
}

.btnAdd, .btnRemove {
  margin: 0px 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-2rem {
  margin-bottom: 2rem;
}


