<app-loading-spinner [spinnerMode]="'indeterminate'" *ngIf="loading$ | async"></app-loading-spinner>

<app-navigation>
  <mat-card>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <h1 class="centrar-titulos">Cargas diarias realizadas</h1>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="dailyData">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of dailyData">
        <mat-card class="example-card mat-elevation-z4">
          <mat-card-header class="text-overflow">
            <mat-card-title>{{item.food || null}}</mat-card-title>
          </mat-card-header>
          <img mat-card-lg-image src={{item.urlImage}} alt="photo">
          <mat-card-content>
            <mat-card-subtitle> Observacion: {{item.observations}}</mat-card-subtitle>
            <mat-card-subtitle> Fecha de Subida: {{item.lastAssignment}}</mat-card-subtitle>
            <mat-card-subtitle> Se ejercito: {{item.doExcersice && 'Si' || 'No'}}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <app-no-data-result *ngIf="dailyData.length == 0"></app-no-data-result>
  </mat-card>

</app-navigation>