<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <img src="assets/img/gif nutritech.gif" *ngIf="loading" class="img-centro-vert-hor" style="width:100%;">
  <mat-card class="login-card" *ngIf="!loading">   
    <mat-card-header>
          <mat-card-title>NutriTech</mat-card-title>
          <mat-card-subtitle>By CELI Consulting</mat-card-subtitle>
     </mat-card-header>
     <img mat-card-image src="assets/img/LogoNutriTechSimpli.jpg"/>    
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">          
            <input matInput placeholder="Ingrese su email" formControlName="email"  [errorStateMatcher]="matcher" required>         
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
              El email es <strong>obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
              El email es <strong>invalido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ingrese su contraseña" formControlName="password" [type]="hide? 'password' : 'text'" required>
            <mat-icon class="password-eye" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              La contraseña es <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
      <button mat-raised-button color="primary" class="mat-radio-button" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
    </mat-card-actions>
  </mat-card>
</form>
