<!--Loading Spinner-->
<app-loading-spinner [spinnerMode]="'indeterminate'" *ngIf="loading$ | async"></app-loading-spinner>

<app-navigation>
  <form [formGroup]="userModificacionForm" (ngSubmit)="onSubmit()">
    <mat-card class="user-card">
      <mat-card-header>
        <mat-card-title>Modificacion del usuario</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre" formControlName="firstName" required>
              <mat-error *ngIf="userModificacionForm.controls['firstName'].hasError('required')">
                El nombre es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Apellido" formControlName="lastName" required>
              <mat-error *ngIf="userModificacionForm.controls['lastName'].hasError('required')">
                El apellido es  <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email" >
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>Roles</mat-label>
              <mat-select formControlName="rol" [(ngModel)]="rolSeleccionado" required disabled>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let rol of roles" [value]="rol.nombre">
                  {{rol.nombre}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="userModificacionForm.controls['rol'].hasError('required')">Por favor elija un rol</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field class="full-width">
              <input matInput placeholder="Contraseña" formControlName="password" [type]="hide? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="userModificacionForm.controls['password'].hasError('required')">
                La contraseña es <strong>obligatoria</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!--Paciente form BEGIN  -->
        <section *ngIf="rolSeleccionado === 'Paciente'">
          
          <span>Datos del paciente:</span>
          <!-- Altura -->
          <div class="row">
            <div class="col-2">
              <mat-form-field class="full-width">
                <input matInput placeholder="Altura" formControlName="altura" type="number">
                <mat-error *ngIf="userModificacionForm.controls['altura'].hasError('min')">
                  La altura no puede ser <strong>menor que cero</strong>.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Peso -->
            <div class="col-2">
              <mat-form-field class="full-width">
                <input matInput placeholder="Peso" formControlName="peso" type="number">
                <mat-error *ngIf="userModificacionForm.controls['peso'].hasError('min')">
                  El peso no puede ser <strong>menor que cero</strong>.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Medida de cintura -->
            <div class="col-2">
              <mat-form-field class="full-width">
                <input matInput placeholder="Medida de cintura" formControlName="medidaCintura" type="number">
                <mat-error *ngIf="userModificacionForm.controls['medidaCintura'].hasError('min')">
                  La medida de la cintura no puede ser <strong>menor que cero</strong>.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Tipo Alimentacion -->
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width">
                <textarea matInput rows="5" [(ngModel)]="tipoAlimentacion" placeholder="Ingrese su tipo de alimentación..." formControlName="tipoAlimentacion"></textarea>
              </mat-form-field>
            </div>
          </div>
        </section>
        <!--Paciente form END  -->

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary"
                type="submit"
                [disabled]="userModificacionForm.invalid">
          Modificar
        </button>
      </mat-card-actions>
    </mat-card>
  </form>

</app-navigation>
