<!--Loading Spinner-->
<app-loading-spinner [spinnerMode]="'indeterminate'" *ngIf="loading$ | async"></app-loading-spinner>


<app-navigation>
  <h1 class="centrar-titulos">Bienvenido al administrador de pacientes y planes</h1>
  <div>
    <h2 class="centrar-titulos">Lista de Pacientes</h2>
  </div>
  <div class="desplazado">
    <section class="example-section">
      <label class="example-margin">Pacientes:</label>
      <mat-radio-group [(ngModel)]="labelPosition">
        <mat-radio-button class="example-margin" value="todos" (click)="cargarGrilla()">Todos</mat-radio-button>
        <mat-radio-button class="example-margin" value="conplan" (click)="cargarGrilla()">Con Plan</mat-radio-button>
        <mat-radio-button class="example-margin" value="sinplan" (click)="cargarGrilla()">Sin Plan</mat-radio-button>
      </mat-radio-group>
    </section>
  </div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div class="mat-elevation-z8">
        <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Paciente" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
            <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row" style="text-align: right;">
              <a><mat-icon class="pointer" matTooltip="Información Paciente" style="color:#2e86c1;" (click)="obtenerInformacion(row.email)">info</mat-icon></a>
              <a><mat-icon class="pointer" matTooltip="Editar Paciente" [routerLink]="['/modificar-usuarios/', row.email]" style="color:#28b463">edit</mat-icon></a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Informacion Del Paciente</mat-card-title>
        <mat-card-subtitle id="nombreId"></mat-card-subtitle>
        <mat-card-content>
          <div *ngIf="mostrar">
            Datos de los pacientes, altura, peso y medidas <br>(para obtener la informacion apretar boton informacion de la tabla)
          </div>
          <table mat-table [dataSource]="dataSourcePaciente" matSort *ngIf="!mostrar">
            <ng-container matColumnDef="altura">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Altura </th>
              <td mat-cell *matCellDef="let row"> {{row.altura}} </td>
            </ng-container>
            <ng-container matColumnDef="peso">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Peso </th>
              <td mat-cell *matCellDef="let row"> {{row.peso}} </td>
            </ng-container>
            <ng-container matColumnDef="medidas">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Medida </th>
              <td mat-cell *matCellDef="let row"> {{row.medidas}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsPaciente"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPaciente;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="100px"><mat-grid-tile style="left: 0px; width: calc(100% - 0.5px); margin-top: 0px; padding-top: calc(25% - 0.5px);"></mat-grid-tile>
</mat-grid-list>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile><app-bar-graphic></app-bar-graphic></mat-grid-tile>
    <mat-grid-tile><app-piechart-grid></app-piechart-grid></mat-grid-tile> 
  </mat-grid-list>  
</app-navigation>
